@model MarinaRegSystem.Models.Service

@{
    ViewData["Title"] = "إضافة خدمة";
}

@section Head {
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png">
        <title>مستشفى مارينا - إضافة خدمة</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.rtl.min.css">

        <!-- Fontawesome CSS -->
        <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
        <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

        <!-- Select2 CSS -->
        <link rel="stylesheet" type="text/css" href="~/assets/css/select2.min.css">

        <!-- Feathericon CSS -->
        <link rel="stylesheet" href="~/assets/css/feather.css">

        <!-- Main CSS -->
        <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    </head>
}

@section cuurnetPage {
    <li class="menu-side"><img src="~/assets/img/icons/menu-icon-04.svg" alt=""></li>
    <li class="breadcrumb-item" style="vertical-align:middle;margin-right:10px"><a href="#" style="font-weight:bolder">إضافة خدمة</a></li>
}

<div class="card bg-white">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form asp-action="AddService" method="post">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-heading">
                                    <h4 style="font-weight:bolder">إضافة خدمة جديدة</h4>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-6">
                                <div class="input-block local-forms">
                                    <label style="font-weight:bolder">اسم الخدمة<span class="login-danger">*</span></label>
                                    <input asp-for="Name" class="form-control" type="text" required>
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-6">
                                <div class="input-block local-forms">
                                    <label style="font-weight:bolder">القسم<span class="login-danger">*</span></label>
                                    <select asp-for="DepartmentId" class="form-control select" asp-items="ViewBag.Departments" required>
                                        <option value="">اختر القسم</option>
                                    </select>
                                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-6">
                                <div class="input-block local-forms">
                                    <label style="font-weight:bolder">وصف الخدمة</label>
                                    <textarea asp-for="Description" class="form-control" rows="3"></textarea>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-6">
                                <div class="input-block local-forms">
                                    <label style="font-weight:bolder">مدة الخدمة (بالدقائق)<span class="login-danger">*</span></label>
                                    <input asp-for="Duration" class="form-control" type="number" min="1" max="480" required>
                                    <span asp-validation-for="Duration" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-xl-6">
                                <div class="input-block local-forms">
                                    <label style="font-weight:bolder">السعر<span class="login-danger">*</span></label>
                                    <input asp-for="Price" class="form-control" type="number" step="0.01" required>
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="doctor-submit text-end">
                                    <button style="font-weight:bolder" type="submit" class="btn btn-primary submit-form me-2">حفظ</button>
                                    <a asp-action="Services" class="btn btn-secondary">إلغاء</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Footer {
    <!-- jQuery -->
    <script src="~/assets/js/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>

    <!-- Feather Js -->
    <script src="~/assets/js/feather.min.js"></script>

    <!-- Slimscroll -->
    <script src="~/assets/js/jquery.slimscroll.js"></script>

    <!-- Select2 Js -->
    <script src="~/assets/js/select2.min.js"></script>

    <!-- Custom JS -->
    <script src="~/assets/js/app.js"></script>

    <script>
        $(document).ready(function() {
            $('.select').select2({
                minimumResultsForSearch: -1,
                width: '100%'
            });
        });
    </script>
} 