@model MarinaRegSystem.Models.Patient

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "انشاء ملف مريض";
}

@section Head {

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png">
        <title>مستشفى مارينا - الرئيسية</title>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.rtl.min.css">

        <!-- Fontawesome CSS -->
        <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
        <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

        <!-- Select2 CSS -->
        <link rel="stylesheet" type="text/css" href="~/assets/css/select2.min.css">

        <!-- Datatables CSS -->
        <link rel="stylesheet" href="~/assets/plugins/datatables/datatables.min.css">

        <!-- Feathericon CSS -->
        <link rel="stylesheet" href="~/assets/css/feather.css">

        <!-- Main CSS -->
        <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">


        <style>
            .table th {
                background-color: #f1f4f7;
                color: #3b3f5c;
                font-weight: bold;
                text-align: center;
                vertical-align: middle;
            }

            .table td {
                text-align: center;
                vertical-align: middle;
            }

            .table-avatar a {
                display: flex;
                align-items: center;
                gap: 10px;
                text-decoration: none;
            }

            .table-avatar img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                object-fit: cover;
            }

            .rating i {
                font-size: 1rem;
            }

            .actions .btn {
                padding: 5px 10px;
                font-size: 0.85rem;
                border-radius: 6px;
            }

            .bg-success-light {
                background-color: #d4edda;
                color: #155724;
            }

            .bg-danger-light {
                background-color: #f8d7da;
                color: #721c24;
            }

            .btn-primary i {
                margin-left: 5px;
            }

            .page-title {
                font-weight: 700;
                color: #3b3f5c;
                font-size: 1.75rem;
            }

            .badge {
                font-size: 0.85rem;
                padding: 6px 12px;
                border-radius: 50px;
            }
        </style>

    </head>
}

@section currentPage {
    <li class="menu-side"><img src="~/assets/img/icons/menu-icon-04.svg" alt=""></li>
    <li class="breadcrumb-item" style="vertical-align:middle;margin-right:10px"><a href="#" style="font-weight:bolder">أنشاء
            ملف مريض</a></li>
}


<div class="container mt-5">

    <form asp-action="CreatePatient" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SecondName"></label>
                    <input asp-for="SecondName" class="form-control" />
                    <span asp-validation-for="SecondName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ThirdName"></label>
                    <input asp-for="ThirdName" class="form-control" />
                    <span asp-validation-for="ThirdName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FourthName"></label>
                    <input asp-for="FourthName" class="form-control" />
                    <span asp-validation-for="FourthName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EnglishFullName"></label>
                    <input asp-for="EnglishFullName" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="DateOfBirth"></label>
                    <input asp-for="DateOfBirth" type="date" class="form-control" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Age"></label>
                    <input asp-for="Age" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Gender"></label>
                    <select asp-for="Gender" class="form-control">
                        <option value="">-- اختر --</option>
                        <option value="ذكر">ذكر</option>
                        <option value="أنثى">أنثى</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NationalNumber"></label>
                    <input asp-for="NationalNumber" class="form-control" />
                    <span asp-validation-for="NationalNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PassportNumber"></label>
                    <input asp-for="PassportNumber" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="InsuranceNumber"></label>
                    <input asp-for="InsuranceNumber" class="form-control" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="PhoneNumber"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Address"></label>
                    <input asp-for="Address" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Country"></label>
                    <input asp-for="Country" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Province"></label>
                    <input asp-for="Province" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="City"></label>
                    <input asp-for="City" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Neighborhood"></label>
                    <input asp-for="Neighborhood" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="BloodType"></label>
                    <input asp-for="BloodType" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Allergies"></label>
                    <textarea asp-for="Allergies" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="ChronicDiseases"></label>
                    <textarea asp-for="ChronicDiseases" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="Symptoms"></label>
                    <textarea asp-for="Symptoms" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="MenstrualCycleDuration"></label>
                    <input asp-for="MenstrualCycleDuration" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="AdditionalNotes"></label>
                    <textarea asp-for="AdditionalNotes" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label asp-for="ClosePerson"></label>
                    <input asp-for="ClosePerson" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Height"></label>
                    <input asp-for="Height" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Weight"></label>
                    <input asp-for="Weight" class="form-control" />
                </div>
            </div>
        </div>

        <button type="submit" class="btn btn-primary mt-3">حفظ</button>
    </form>


</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}




@section Footer {
    <!-- jQuery -->
    <script src="~/assets/js/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>

    <!-- Feather Js -->
    <script src="~/assets/js/feather.min.js"></script>

    <!-- Slimscroll -->
    <script src="~/assets/js/jquery.slimscroll.js"></script>

    <!-- Select2 Js -->
    <script src="~/assets/js/select2.min.js"></script>

    <!-- Datepicker JS -->
    <script src="~/assets/plugins/moment/moment.min.js"></script>
    <script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>

    <!-- Custom JS -->
    <script src="~/assets/js/script.js"></script>

    <!-- Validation Scripts -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}