@{
    ViewData["Title"] = "التسجيل";
    Layout = null;
}
@model RegisterViewModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png">
    <title>مستشفى مارينا - التسجيل</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.rtl.min.css">

    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="~/assets/css/feather.css">

    <!-- Select2 CSS -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/select2.min.css">

    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">

</head>
<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper login-body">
        <div class="container-fluid px-0">
            <div class="row">

                <!-- Login logo -->
                <div class="col-lg-6 login-wrap">
                    <div class="login-sec">
                        <div class="log-img">
                            <img class="img-fluid" src="~/assets/img/login-02.png" alt="Logo">
                        </div>
                    </div>
                </div>
                <!-- /Login logo -->
                <!-- Login Content -->
                <div class="col-lg-6 login-wrap-bg">
                    <div class="login-wrapper">
                        <div class="loginbox">
                            <div class="login-right">
                                <div class="login-right-wrap">
                                    <div class="account-logo">
                                        <a href="#"><img src="~/assets/img/login-logo.png" alt=""></a>
                                    </div>
                                    <h2>انشاء حساب جديد</h2>
            <!-- Form -->
            
            <form asp-controller="home" asp-action="Register" method="post">
    <div class="row">

        <!-- اسم المستخدم -->
        <div class="input-block col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3">
            <label style="font-weight:bolder">اسم المستخدم <span class="login-danger">*</span></label>
            <input asp-for="Username" class="form-control" type="text" placeholder="ادخل اسم المستخدم" required />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <!-- البريد الالكتروني -->
        <div class="input-block col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3">
            <label style="font-weight:bolder">البريد الإلكتروني <span class="login-danger">*</span></label>
            <input asp-for="Email" class="form-control" type="email" placeholder="ادخل البريد الإلكتروني" required />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <!-- رقم الهاتف -->
        <div class="input-block col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3">
            <label style="font-weight:bolder">رقم الهاتف <span class="login-danger">*</span></label>
            <input asp-for="PhoneNumber" class="form-control" type="text" placeholder="ادخل رقم الهاتف" required />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>

        <!-- كلمة المرور -->
        <div class="input-block col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3">
            <label style="font-weight:bolder"> أنشاء رمز الدخول <span class="login-danger">*</span></label>
            <input asp-for="Password" class="form-control pass-input" type="password" placeholder="ادخل الرمز السري" required />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <!-- تأكيد كلمة المرور -->
        <div class="input-block col-xl-6 col-lg-6 col-md-6 col-sm-12 mb-3">
            <label style="font-weight:bolder">تأكيد رمز الدخول  <span class="login-danger">*</span></label>
            <input asp-for="ConfirmPassword" class="form-control pass-input" type="password" placeholder="أكد الرمز السري" required />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <!-- الموافقة على الشروط -->
        <div class="input-block col-12 mb-3">
            <label class="custom_check d-inline-flex align-items-center" style="font-weight:bolder">
                <input type="checkbox" name="terms" required />
                <span class="checkmark me-2"></span>
                الموافقة على الشروط و الأحكام الخاصة بالمستشفى
            </label>
        </div>

        <!-- زر التسجيل -->
        <div class="input-block col-12 text-center">
            <button type="submit" class="btn btn-primary btn-block">تسجيل</button>
        </div>

    </div>
</form>

                                    <!-- /Form -->

                                    <div class="next-sign">
                                        <p class="account-subtitle">هل لديك حساب مسبقا؟ <a href="~/Home/Login">تسجيل الدخول</a></p>

                                        <!-- Social Login -->
                                        <!-- /Social Login -->

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /Login Content -->

            </div>
        </div>
    </div>
    <!-- /Main Wrapper -->
    <!-- jQuery -->
    <script src="~/assets/js/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>

    <!-- Feather Js -->
    <script src="~/assets/js/feather.min.js"></script>
    <script src="~/assets/plugins/moment/moment.min.js"></script>
    <script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/assets/js/select2.min.js"></script>
    <!-- Custom JS -->
    <script src="~/assets/js/app.js"></script>

</body>
</html>