@{
    ViewData["Title"] = "التسجيل";
    Layout = null;
}
@model RegisterViewModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/img/favicon.png">
    <title>مستشفى مارينا - التسجيل</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.rtl.min.css">

    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="~/assets/css/feather.css">

    <!-- Select2 CSS -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/select2.min.css">

    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

    <!-- Main CSS -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">

</head>
<body>

    <!-- Main Wrapper -->
    <div class="main-wrapper login-body">
        <div class="container-fluid px-0">
            <div class="row">

                <!-- Login logo -->
                <div class="col-lg-6 login-wrap">
                    <div class="login-sec">
                        <div class="log-img">
                            <img class="img-fluid" src="~/assets/img/login-02.png" alt="Logo">
                        </div>
                    </div>
                </div>
                <!-- /Login logo -->
                <!-- Login Content -->
                <div class="col-lg-6 login-wrap-bg">
                    <div class="login-wrapper">
                        <div class="loginbox">
                            <div class="login-right">
                                <div class="login-right-wrap">
                                    <div class="account-logo">
                                        <a href="#"><img src="~/assets/img/login-logo.png" alt=""></a>
                                    </div>
                                    <h2>انشاء حساب جديد</h2>
                                    <!-- Form -->
                                    <form asp-controller="home" asp-action="Register" method="post">
                                        <div class="row">
                                            <div class="input-block col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                                <label style="font-weight:bolder">الاسم الكامل <span class="login-danger">*</span></label>
                                                <input required asp-for="FullName"  class="form-control" type="text">
                                            </div>
                                            <div class="input-block col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                                <label style="font-weight:bolder">رقم الهاتف <span class="login-danger">*</span></label>
                                                <input required asp-for="PhoneNumber" class="form-control" type="text">
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                                <div class="input-block local-forms cal-icon">
                                                    <label style="font-weight:bolder">تاريخ التولد <span class="login-danger">*</span></label>
                                                    <input required asp-for="DateOfBirth" class="form-control datetimepicker" type="text">
                                                </div>
                                            </div>
                                            <div class="input-block col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                                <label style="font-weight:bolder">الرمز السري <span class="login-danger">*</span></label>
                                                <input required asp-for="Password" class="form-control pass-input" type="password">
                                                <span class="profile-views feather-eye-off toggle-password"></span>
                                            </div>
                                            <div class="input-block col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                                <label style="font-weight:bolder">رقم البطاقة الوطنية </label>
                                                <input asp-for="NationalNumber" class="form-control" type="text">
                                            </div>
                                            <div class="input-block col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                                <div class="local-forms">
                                                    <label style="font-weight:bolder">الجنس <span class="login-danger">*</span></label>
                                                    <select asp-for="Gender" class="form-control select">
                                                        <option value="ذكر">ذكر</option>
                                                        <option value="انثى">انثى</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="input-block col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                                <div class="local-forms">
                                                    <label style="font-weight:bolder">المحافظة <span class="login-danger">*</span></label>
                                                    <select asp-for="Province" class="form-control select">
                                                        <option value="بغداد">بغداد</option>
                                                        <option value="نينوى">نينوى</option>
                                                        <option value="البصرة">البصرة</option>
                                                        <option value="كركوك">كركوك</option>
                                                        <option value="أربيل">أربيل</option>
                                                        <option value="الأنبار">الأنبار</option>
                                                        <option value="ديالى">ديالى</option>
                                                        <option value="صلاح الدين">صلاح الدين</option>
                                                        <option value="النجف">النجف</option>
                                                        <option value="كربلاء">كربلاء</option>
                                                        <option value="واسط">واسط</option>
                                                        <option value="ميسان">ميسان</option>
                                                        <option value="ذي قار">ذي قار</option>
                                                        <option value="المثنى">المثنى</option>
                                                        <option value="الديوانية">الديوانية</option>
                                                        <option value="بابل">بابل</option>
                                                        <option value="دهوك">دهوك</option>
                                                        <option value="السليمانية">السليمانية</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="input-block col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                                <label style="font-weight:bolder">العنوان <span class="login-danger">*</span></label>
                                                <input required asp-for="Address" class="form-control" type="text">
                                            </div>
                                            <div class="forgotpass">
                                                <div class="remember-me">
                                                    <label class="custom_check mr-2 mb-0 d-inline-flex remember-me" style="font-weight:bolder">
                                                        الموافقة على الشروط و الاحكام الخاصة بالمستشفى
                                                        <input type="checkbox" name="radio">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="input-block login-btn">
                                                <button class="btn btn-primary btn-block" type="submit">Sign up</button>
                                            </div>

                                        </div>
                                    </form>
                                    <!-- /Form -->

                                    <div class="next-sign">
                                        <p class="account-subtitle">هل لديك حساب مسبقا؟ <a href="~/Home/Login">تسجيل الدخول</a></p>

                                        <!-- Social Login -->
                                        <!-- /Social Login -->

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /Login Content -->

            </div>
        </div>
    </div>
    <!-- /Main Wrapper -->
    <!-- jQuery -->
    <script src="~/assets/js/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>

    <!-- Feather Js -->
    <script src="~/assets/js/feather.min.js"></script>
    <script src="~/assets/plugins/moment/moment.min.js"></script>
    <script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/assets/js/select2.min.js"></script>
    <!-- Custom JS -->
    <script src="~/assets/js/app.js"></script>

</body>
</html>